header{
    background-color: #999999;
    width: 100vw;
    height: 25vh;
    color: white;
    text-align: center;
}
main{
    background-color: lightblue;
    width: 100vw;
    height: 33vh;
    color: white;
    text-align: center;
}
section{
    background-color: #d7d6d6;
    width: 40vw;
    height: 20vh;
    color: white;
    text-align: center;
}
article{


    width: 30vw;
    height: 60vh;
    color: white;
    text-align: center;
}
footer{
    background-color: #5d5d5d;
    width: 100vw;
    height: 25vh;
    color: white;
    text-align: center;
}
.sa{
    display: flex;

}
.as{
    display: flex;

}
.ass{
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
}
p {
    margin: 0;

}
.txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clr{
    background-color:black ;
}
 .clr2{
    background-color: #a2a2a2;
}
.clr3{
    background-color: #563f3f;
}
.clr4{
    background-color: #ea7d7d;
}