body,p{
    margin: 0;
}

header{
    height: 30vh;
    background-color: #8e8c8c;
    border: 1vh solid #ffffff;
    box-sizing: border-box;
}
div{
    display: flex;
}
.sc1{
    width: 70vw;
    height: 70vh;
    background-color: #89cfe5;
    border: 1vh solid #ffffff;
    box-sizing: border-box;
    border-top:none;
}
.sc2{
    width: 30vw;
    height: 70vh;
    background-color:pink;
    border: 1vh solid #ffffff;
    box-sizing: border-box;
    border-left: none;
    border-top:none;
}