.main {
    background-color: #b04ccb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #e788db;
    transition: 3s;
}

.box:hover{
    background-color: #c6ecb2;
    transition: 3s;
    border-radius: 50%;
}